:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  text-align: center;
}
